# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/
env/

# Environment / secrets
.env
.env.*
*.secret
secrets.json

# AWS
.aws/
*.pem

# Lambda build files
*.zip

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
